.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 240px;
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-link {
  background: rgba(255, 255, 255, 0.08);
  color: #7bb1ff !important;
}
